@{
    ViewBag.Title = "天空网";
}

<title >@ViewBag.Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/Images/logo/sky.ico" type="image/x-icon" />

@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/app")
@Styles.Render("~/Content/global")

<!-- bootstrap -->
<link href="/Content/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="/Content/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
<link href="/Content/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

<!-- libraries -->
<link href="/Content/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
<link href="/Content/lib/font-awesome.css" type="text/css" rel="stylesheet" />
<link href="/Content/lib/morris.css" type="text/css" rel="stylesheet" />
<link href="/Content/lib/bootstrap-wysihtml5.css" type="text/css" rel="stylesheet" />
<link href="/Content/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />
<link href="/Content/lib/uniform.default.css" type="text/css" rel="stylesheet" />

<link href="/Content/lib/select2.css" type="text/css" rel="stylesheet" />

<!-- global styles -->
<link rel="stylesheet" type="text/css" href="/Content/global/layout.css" />
<link rel="stylesheet" type="text/css" href="/Content/global/elements.css" />
<link rel="stylesheet" type="text/css" href="/Content/global/icons.css" />

<!-- open sans font -->
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

<!-- lato font -->
<link href='http://fonts.useso.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


@*@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/bootstrap")
@Scripts.Render("~/Scripts/jquery-ui")
@Scripts.Render("~/Scripts/jquery.knob")
@Scripts.Render("~/Scripts/jquery.flot")
@Scripts.Render("~/Scripts/app")
@Scripts.Render("~/Scripts/theme")*@
<!-- scripts -->
<script src="/Scripts/jquery/jquery-latest.js"></script>
<script src="/Scripts/bootstrap/bootstrap.min.js"></script>
<script src="/Scripts/jquery/jquery-ui-1.10.2.custom.min.js"></script>

<!-- knob -->
<script src="/Scripts/jquery/jquery.knob.js"></script>

<!-- flot charts -->
<script src="/Scripts/jquery/jquery.flot.js"></script>
<script src="/Scripts/jquery/jquery.flot.stack.js"></script>
<script src="/Scripts/jquery/jquery.flot.resize.js"></script>

<!-- morrisjs -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="/Scripts/morris.min.js"></script>

<!-- call all plugins -->
<script src="/Scripts/theme/theme.js"></script>

<!-- For Code Editor -->
<script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
